/* Style the tab buttons */
.tablink {
  background-color: #eee;
  color: white;
  font-family: "Segoe UI",Arial,sans-serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px; 
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #ddd;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  font-family: Verdana,sans-serif;
  font-weight: 200;
  font-size: 15px;
  display: none;
  padding: 50px;
  text-align: center;
  /*margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  width: 80%;*/
}

/* Style each tab content individually */
#program {background-color:#f44336;}
#research {background-color:#4CAF50;}
#aboutMe {background-color: #2196F3;}
#contact {background-color:#ff5722;}

/*Set styles for headers*/
h1 {
  color: white;
  font-family: "Segoe UI",Arial,sans-serif;
  font-weight: 400;
  text-align: center;
}

body {    
    margin: 0 !important;
    padding: 0 !important;
}